
.brandImg{
    width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);
    padding-left: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.brandImg:hover {
    filter: none;
    opacity: 1;
  }



/* === Desktop Navigation === */

@media screen and (min-width: 1200px) {
  
    
}

/* === Tablet Navigation === */

@media screen and (max-width: 1200px) {
    .brandImg{ 
        padding-left: 3rem;
        padding-top: 2rem;
    }
    .item1, .item2{
        display: none;
    }
}

/* === Mobile Navigation === */

@media screen and (max-width: 600px) {
    .brandImg{ 
        padding-left: 3rem;
        padding-top: 2rem;
    }
    .item1, .item2, .item3 , .item4{
        display: none;
    }
}