.contactHeadingArea{
    display: grid;
    justify-content: center;
    text-align: center;
}

.contactHeadingArea h3{
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #485664;
}
.contactHeadingArea p{
    color: #8f9fae;
    font-size: 18px;
}

.contactMap{
    width: 100%;
    margin-top: 1%;
}
.contactMap iframe{
    width: 100%;
    height: 400px;
}

.mainContactArea{
    display: flex;
    width: 70%;
    margin: 50px auto;


}
.contactInfo{
    padding: 0px 10px;
    width: 30%;

}
.contactForm{
    width: 70%;

}
.contactInfoArea{
    padding: 30px;
    box-shadow: 5px 5px 40px 2px #48566430;
}
.contactInfoArea .getinTouch{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.contactInfoArea p{
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 20px;
}
.myContact{
    display: flex;
    
}
.contactLocation{
    border-bottom: 1px solid rgba(72, 86,100 , .15); 
}
.contactEmail{
    padding-top: 20px;
    border-bottom: 1px solid rgba(72, 86,100 , .15); 
}
.contatcCall{
    padding-top: 20px;
    
}
.myContact i{
    font-size: 24px;
    color: #0ea2bd;
    transition: 0.3s;
    margin-right: 20px;
    margin-top: 10px;
}
.contactSubHeading h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #485664;
}
.contactSubHeading p{
    font-size: 14px;
    color: #8f9fae;
}


.contactForm{
    margin-left: 40px;


}
.formSubmit{
    display: grid;
}
.nameAndEmailArea{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.nameAndEmailArea input{
    width: 48%;
    padding: 10px 15px;
    border: 1px solid #8f9fae70;
}
.inputSubject{
    margin: 20px 0px;
    padding: 10px 15px;
    border: 1px solid #8f9fae70;
}
.formSubmit textarea{
    padding: 10px 15px;
    height: 300px;
    border: 1px solid #8f9fae70;
}
.sendButton{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.sendButton button{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px 50px;
    border: none;
    background-color: #0ea2bd;
    color: #fff;
}

 /* === Tablet Navigation === */

 @media screen and (max-width: 1200px) {
    .contactHeadingArea p {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
      }
      .mainContactArea {
        display: grid;
        width: 100%;
        margin: 50px 0;
      }
      .contactInfo {
        padding: 0px 30px;
        width: 100%;
      }
      .contactForm {
        margin-left: 0px;
        width: 100%;
        padding: 30px 30px;
      }
 }

/* === Mobile Navigation === */

 @media screen and (max-width: 600px) {
     
 }
