.footerArea{
    background-color: #485664;
}
.mailFooterContent{
    width: 70%;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.headingColor{
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
}
.contactFooter h3{
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.contactFooter p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    
}
.footerHeadingFont{
    font-size: 16px;
}
.myFooterItem{
    padding: 0;
}
.myFooterItem li{
    list-style: none;
    color: rgba(255,255,255 , .7);
    padding: 5px 0;
}
.myFooterItem li a{
    text-decoration: none;
    list-style: none;
    color: rgba(255,255,255 , .7);
}
.myFooterItem li i{
    padding-right: 5px;
    font-size: 12px;
    line-height: 1;
}
.newsletterFooter{
    width: 30%;
}
.newsletterFooter h3{
    margin-bottom: 30px;
}
.footerForm{
    width: 100%;
    display: flex;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}
.newsletterInput1{
    width: 75%;
    background-color: #fff;
    border: none;
    padding: 10px;

}
.newsletterInput2{
    width: 25%;
    border: none;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #0ea2bd;
    color: #fff;
}







.bottomFooterArea{
    background-color: #3a4753;
}
.lastFooterArea{
    padding: 20px 0 ;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.copyright{
    color: #fff;

}
.credits{
    color: #fff;
    font-size: 14px;
}
.credits a{
    color: #1ec3e0;
    text-decoration: none;
}
.lastfooterSocial a{
    border-radius: 5px;
    margin: 3px;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
}

.lastfooterSocial a:hover{
    background-color: #0ea2bd;
    transition: .3s;
}




 /* === Tablet Navigation === */

 @media screen and (max-width: 1200px) {
    .mailFooterContent {
        width: 100%;
        margin: auto;
        padding: 50px;
        display: grid;
        grid-template-areas:"a a";
        justify-content: space-between;
    }
   
    .usefulLinksFooter{
        margin-left: 30%;
    }
    .newsletterFooter{
        margin-left: 30%;
        width: 70%; 
    }
    .lastFooter{
        display: flex;
    }
    .lastFooterArea{
        padding: 20px 0 ;
        display: grid;
        order: -1;
        width: 100%;
        justify-content: center;
    
    }
    .lastfooterSocial{
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }
    .lastFooterContent{
        text-align: center;
    }

    .lastfooterSocial a{
        border-radius: 5px;
        margin: 3px;
        font-size: 18px;
        padding: 10px;
        color: #fff;
        background-color: rgba(255,255,255,0.1);
    }
 }

/* === Mobile Navigation === */

 @media screen and (max-width: 600px) {
    .mailFooterContent {
        width: 100%;
        margin: auto;
        padding: 60px 20px;
        
        display: grid;
        grid-template-areas:"a";
        justify-content: space-between;
    }
    .usefulLinksFooter{
        margin-left: 0;
        margin-top: 30px;
    }
    .serviceFooter{
        margin-left: 0;
        margin-top: 30px;
    }
    .newsletterFooter{
        margin-top: 30px;
        margin-left: 0;
        width: 100%; 
    }
 }

