
.serviceHeader{
    display: grid;
    justify-content: center;
    color: #485664;
}
.serviceHeader h2{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;

}
.serviceHeader p{
    display: flex;
    justify-content: center;
}

.serviceSection{
    width: 100%;
    display: grid;
    grid-template-areas: "a a a";
    gap: 15px;
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }


  .service-item{
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .serviceImg img{
    width: 100%;
    border-radius: 2%;
  }
.serviceDetails{
   width: 60%;
   margin: auto;
   display: grid;
   background-color: #485664;
   border-radius: 2%;
  }
  .serviceDetails div,a ,p{
    margin: auto;
   }



































/* === Desktop Navigation === */

@media screen and (min-width: 1200px) {

}

/* === Tablet Navigation === */

@media screen and (max-width: 1200px) {

}

/* === Mobile Navigation === */

@media screen and (max-width: 600px) {
    
}